<section class="w-full flex flex-col items-center z-10">
  <div
    class="text-center bg-circles-pattern bg-no-repeat bg-auto bg-center p-8 sm:p-12"
  >
    <h1
      class="text-2xl sm:text-4xl font-bold text-neutral-dark-desaturated-blue mb-2"
    >
      Simple, traffic-based pricing
    </h1>
    <p class="text-sm text-neutral-grayish-blue">
      Sign up for our 30-day trial. No credit card required.
    </p>
  </div>
</section>
